# Node modules (will be installed inside Docker)
node_modules
dist
npm-debug.log
yarn-error.log

# Environment files (optional, if you want them only on host)
.env

# OS and editor files
.DS_Store
*.swp
.idea/
.vscode/

# Git
.git
.gitignore
